@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(imgs/tipping.webp);
  background-attachment: fixed;
  font-size: 20px;
}
p {
  text-align: center;
  font-weight: bold;
}
.container {
  background-image: linear-gradient(45deg, lightgreen, lightslategray);
  padding: 2rem;
  width: 20rem;
  border-radius: 3%;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.75);
  border-style: groove;
  border-width: 3px;
  border-color: lightslategray;
}

#bill:focus {
  background-color: rgb(201, 201, 201);
}

#bill {
  border-radius: 5px;
  padding: 4px;

  border-width: 2px;
}

.submit {
  background-color: white;
  border-radius: 23px;
  border: 0;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 15px;
}

.submit:hover {
  background-color: rgba(212, 212, 212, 0.926);
}

.container * {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

select {
  box-shadow: 0 5px 15px (0, 0, 0);
  font-size: 1rem;
  padding: 0.3em 0.5em;
  background-color: rgb(47, 61, 68);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal Stuff */

.modal {
  background-image: linear-gradient(-45deg, lightblue, lightslategray);
  width: 15rem;
  padding: 2rem;
  position: absolute;
  border-radius: 5px;
  border-style: double;
  font-size: 18px;
}
.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  background: none;
  border: none;
}

.hidden {
  display: none;
}
